#impress {
    font-family: spicy-rice, fantasy;
    font-size: 80px;
}

#impress .main {
    color: #F6A108;
}

#impress .step .hide {
    display: none;
}

#impress .present .hide {
    display: block;
    position: absolute;

    height: 700px;
    width: 1500px;

    left: 50%;
    margin-left: -750px;

    background-color: rgba(140,152,153,0.5);
    z-index: 100;

    font-family: Georgia, serif;
    color: black;
    font-size: 20px;
}

#impress .present {
    opacity: 1 !important;
    z-index: 10000;
}

#impress .word {
    cursor: pointer;
    opacity: 1;

    transition: opacity 1s;
}

body i {
    color: #F6A108;
    cursor: pointer;

    float: left;
    margin-right: 10px;

    top: 0px;
}

body .reload {
    display: none;
}

body .stop {
    display: none;
}